<dialog id="sound-modal">
  <h2>Track settings</h2>
  <div class="sounds"></div>
  <div class="bpm">
    <h3>BPM</h3>
    <div class="input-wrapper">
      <input type="range" id="bpm" max="500" min="20" value="150" />
      <p class="bpm-text">150</p>
    </div>
  </div>
  <div class="volume">
    <h3>Volume</h3>
    <div class="input-wrapper">
      <input type="range" id="volume" max="100" min="0" value="100" />
      <p class="volume-text">100</p>
    </div>
  </div>
  <button id="closeModal">Close</button>
</dialog>
